
<% if session[:user_id] %>
  <p>Welcome, <strong><%= User.find(session[:user_id]).username %></strong></p>
  <%= button_to 'Logout', "/logout", method: :delete,form: { class: 'logout-form' }  %>
<% else %>
  <%= link_to 'Signup', signup_path, class: "signup-btn" %>
  <%= link_to 'Login', login_path, class: "login-btn" %>
<% end %>   